<% content_for :employee do %>
  Employee Dashboard
<% end %>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Howdy!" data-text="Welcome to OnBoard IO !." data-moreinfo=" Your progess "style="background-color:#3882cd"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="You are " data-moreinfo="# of times said in Slack"style="background-color:#d60a0a"></div>
    </li>

    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" onclick="location.href='http://localhost:3000/dashing/dashboards/lessons';">
      <div data-id="lessons" data-view="Graph" data-title="Lets Hit some lessons!" style="background-color:#3882cd"></div>
    </li>

     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" >
      <div data-id="lessons" data-view="Graph" data-title="Quiz Time!" style="background-color:#d6bf0a"></div>
    </li>
  </ul>
  <center><div style="font-size: 12px">Demo purpose only</div></center>
</div>
